In [1]:
nestDic={"key1":{"name":"Khuzaim"},"key10":{"key11":"Binary biatch"},"key100":{"key101":"Guessing"}}

In [2]:
for k in nestDic.keys():
    print(nestDic[k])

{'name': 'Khuzaim'}
{'key11': 'Binary biatch'}
{'key101': 'Guessing'}

In [3]:
for v in nestDic.values():
    print(v)

{'name': 'Khuzaim'}
{'key11': 'Binary biatch'}
{'key101': 'Guessing'}

In [4]:
for k,v in nestDic.items():
    print(k,v)

key1 {'name': 'Khuzaim'}
key10 {'key11': 'Binary biatch'}
key100 {'key101': 'Guessing'}

In [8]:
for v in nestDic.values():
    print(v)
    for k2 in v.values():
        print(k2)

{'name': 'Khuzaim'}
Khuzaim
{'key11': 'Binary biatch'}
Binary biatch
{'key101': 'Guessing'}
Guessing

In [9]:
dic1 = {"students":["Khuzaim","Khan","Mudasir","Hamza","Ali"],"roll:Number":[123,456,789,101,1234],"age":[19,19,20,21,22],"course":["AI&IOt","AI and IOT","IOT","IOT","AI"]}

In [10]:
import pandas as pd

In [11]:
dataframe = pd.DataFrame(dic1)

In [12]:
dataframe

  students  roll:Number  age      course
0  Khuzaim          123   19      AI&IOt
1     Khan          456   19  AI and IOT
2  Mudasir          789   20         IOT
3    Hamza          101   21         IOT
4      Ali         1234   22          AI